body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
  display: flex;
  flex-direction: column;
  margin-top: -0.25rem !important;
  text-align: center;
  
  }

@media screen and (max-width: 768px){
  /*If the browser window is 768px or smaller*/
  .content{
    display: inline-block;
    width: 45%;
    height: 250px;
    background-color:#bd68b5;
    margin-left: auto;
    margin-right: auto;
  }
#bottom{
  width: 90%;
}
@media screen  and (max-width: 550px){
  .content{
  display: block;
  width: 75%;
  height: 250px;
  background-color: #bd68b5;
  margin-left: auto;
  margin-right: auto;
  }
#bottom{
  width: 75%;
}  
}
}
.main{
  display: flex;
  flex-direction: row;
  overflow: unset;
}
.cont{
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 20px;
  width: 97rem;
}
#CVPicture{
  width: 20%;
  height: 20%;
  border-radius: 80%;
  border: 4px solid teal;
  align-items: flex-start;
}
header {
  text-align: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
#Heading{
  font-family: sans-serif;
  font-size: 110%;
  font-size: #FFFFFF;
  background-image: url(../Images/sky6.jpg);
  background-repeat:no-repeat;
  padding-top: 5%;
  padding-bottom: 2%;
}
label{
  padding-bottom: 15px;
}
p{
  font-size: 0.9rem;
  opacity: 0.9;
}

footer {
  background-image: url(../Images/sky6.jpg);
  background-repeat:no-repeat;
  text-align: center;
  height: 90%;
  width: 106%;
  margin-left: -5%;
}

.icons{
  width: 4rem;
  margin: 0.5rem;
  height: auto;
}
#Icon{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  padding: 28px;
}
.link{
  display: inline;
  margin-right: 100px;

}

.card-img-top{
  width: 150px;
  height: 250px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 1500px;
  height: 700px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}